/*
Color Palette
Black : #222831
Gray : #393E46
Yellow : #FFD369
Light Grey : #EEEEEE
*/

.black-back{
    background-color: #222831;   
}
.grey-back{
    background-color: #393E46;
}
.white-back{
    background-color: #EEEEEE;
}
.yellow{
    color: #FFD369;
}
.white{
    color: #EEEEEE;
    /* rgb(238, 238, 238) */
}
.grey{
    color: #393E46;
    /* rgb(57, 62, 70) */
}
.black{
    color:#222831;
    /* rgb(34, 40, 49) */
}
.bold{
    font-weight:bold;
}

.title{
    font-size: 40px;
}
.subtitle{
    font-size: 28px;
}

* {
    margin: 0;
    padding: 0;
}
body{
    width:100vw;
    background-color: #222831;
    font-family: 'Quicksand', sans-serif;
    overflow-x:hidden;
    color:#eeeeee;
}
/* Navbar */
nav{
    width:100vw;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(34, 40, 49,0.8);
    z-index: 1000;
}
nav ul{
    display: flex;
    align-items: center;
    vertical-align: center;
    width: 60%;
    justify-content: space-between;
    transition: all 1s;
}
/* Sliding ON */
nav ul.slide{
    transform: translateX(0);
    opacity:0.9;
}

#logo-utama{
    height:50px;
}
ul li a{
    text-decoration: none;
    color: #eeeeee;
    font-size: 14pt;
    font-weight: 600;
}

/* Hamburger Menu */
.toggle-menu{
    display: none;
    z-index: 99;
    height: 21px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.toggle-menu span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #eeeeee;
    border-radius: 2px;
    transition: all 0.5s;
}

/* Checkbox for Hamburger Menu ON / OFF */
.toggle-menu input{
    position: absolute;
    width: 30px;
    height: 30px;
    left: -1px;
    top:-5px;
    opacity: 0;
    cursor: pointer;
    z-index: 1000;
}

/* Hamburger Menu Animation */
.toggle-menu span:nth-child(2){
    transform-origin: 0 0;
}
.toggle-menu input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(0,-1px);
}
.toggle-menu span:nth-child(4){
    transform-origin: 0 100%;
}
.toggle-menu input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(0,1px);
}
.toggle-menu span:nth-child(3){
    opacity: 1;
}
.toggle-menu input:checked ~ span:nth-child(3){
    transform: scaleX(0);
    opacity: 0;
}

/* Container / Section */
/* Profile Picture & Text */
.about-me h4{
    font-size: 4vw;
    font-weight: 400;
    line-height: 1em;
}
.about-me h2{
    color: #ffd369;
    font-size: 10vw;
    line-height: 1.5em;
}
.about-me p{
    font-size: 2vw;
    line-height: 1.5em;
    text-align: center;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.button{
    margin-top: 30px;
    font-family: 'Quicksand';
    border-radius: 10px;
    border: 3px solid rgba(255, 211, 105,0);
    background-color: #ffd369;
    font-weight: 600;
    font-size: 20px;
    color:#222831;
    transition: all 0.5s;
}
.button:hover{
    transform: translateY(-10%);
    border: 3px solid rgba(255, 211, 105,1);
    background-color: #222831;
    box-shadow: 0px 0px 20px rgba(238, 238, 238,0.4);
    color: #EEEEEE;
    cursor: pointer;
}

.contact-me{
    width: 160px;
    height: 50px;
}

.more-experience{
    width: 200px;
    height: 50px;
}

.container{
    width: 100vw;
    min-height: 90vh;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* JOB - Current Work */

.job p{
    text-align: center;
}
div.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
div.jobcard{
    position: relative;
    width: 450px;
    height: 300px;
    margin: 50px 0;
    /* background-color: yellow; */
    border-radius: 20px;
    border: 5px solid #ffd369;
    box-shadow: 0px 0px 20px rgba(238, 238, 238,0.3);
}
#utsmanmedia{
    background-image: url("Resources/Images/social\ media\ marketing.jpg");
    background-size:cover;
    background-position: center;
}
#brightchamps{
    background-image: url("Resources/Images/Leader.jpg");
    background-size:cover;
    background-position: center;
}
div.jobcard h3{
    text-align: center;
    color: #ffd369;
    margin-top: 20px;
    font-size: 20px;
}
div.jobcard:hover >div.tag{
    opacity: 1;
    cursor: pointer;
}
div.tag{
    position:relative;
    height: 280px;
    text-align: center;
    background-color: rgba(238, 238, 238,0.9);
    padding: 10px 0;
    border-radius: 14px;
    opacity:0;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #222831;
}
div.tag h3{
    font-size: 25px;
    color: #222831;
}
div.tag p{
    font-size: 16px;
    font-weight: 600;
}
div.tag a{
    height: 40%;
}
div.tag img{
    height: 100%;
}

/* Skills & Expertise */

.skill{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.skillcontainer{
    width: 80vw;
    margin: 5vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.skillcard{
    width: 250px;
    height: 250px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 0;
    background-color: #222831;
    border: 5px solid rgba(255, 211, 105,0);
    transition: all 0.5s;
}
.skillcard p{
    text-align: justify;
}
.skillcard img{
    width: 30%;
    height: 30%;
}
.skillcard:hover{
    border: 5px solid rgba(255, 211, 105,1);
    box-shadow: 0px 0px 30px rgba(238, 238, 238,0.3);
}

/* Project List - Slider */

.slider{
    width: 50vw;
    height: 50vw;
    border-radius: 10px;
    background-color: #EEEEEE;
    overflow: hidden;
    margin: 20px 0;
}

.slides{
    width: 300vw;
    height: 50vw;
    display: flex;
}

.slide img{
    width: 50vw;
    height: 50vw;
}
.slides input{
    display: none;
}
.slide{
    width: 50vw;
    transition: all 2s;
}
/* Manual Slide Navigation */

.navigation-manual{
    position: absolute;
    width: 50vw;
    display: flex;
    justify-content: center;
    padding-top: 47vw;
}

.manual-btn{
    border: 2px solid rgba(34, 40, 49,1);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    background-color: rgba(34, 40, 49,1);

}
/* Radio Checked */
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -50vw;
}
#radio3:checked ~ .first{
    margin-left: -100vw;
}
#radio4:checked ~ .first{
    margin-left: -150vw;
}
#radio5:checked ~ .first{
    margin-left: -200vw;
}
#radio6:checked ~ .first{
    margin-left: -250vw;
}

/* automatic navigation */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 50vw;
    justify-content: center;
    padding-top: 47vw;
}
.navigation-auto div{
    border: 2px solid rgba(34, 40, 49,1);
    padding: 5px;
    border-radius: 10px;
    transition: all 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgba(34, 40, 49,1);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgba(34, 40, 49,1);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgba(34, 40, 49,1);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgba(34, 40, 49,1);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: rgba(34, 40, 49,1);
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: rgba(34, 40, 49,1);
}


/* Responsive Breakpoint for Navbar */

/* Tablet Screen Size */
@media screen and (max-width:768px) {
    nav ul{
        width: 75%;
    }
    .about-me h4{
        font-size: 6vw;
        font-weight: 400;
        line-height: 1em;
    }
    .about-me h2{
        color: #ffd369;
        font-size: 13vw;
        line-height: 1.5em;
    }
    .about-me p{
        font-size: 3vw;
        line-height: 1.5em;
        text-align: center;
    }
}
/* Mobile Screen Size */
@media screen and (max-width:576px) {
    .toggle-menu{
        display: flex;
        margin-left: 40%;
    }
    nav ul{
        position: absolute;
        right: 0;
        top:0;
        flex-direction: column;
        background-color: #222831;
        z-index: 98;
        height: 100vh;
        width: 70vw;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;
        transform: translatex(100%);
    }
    .about-me h4{
        font-size: 7vw;
    }
    .about-me h2{
        font-size: 15vw;
        line-height: 1.5em;
    }
    .about-me p{
        font-size: 4vw;
        line-height: 1.5em;
        text-align: center;
    }
    .button{
        font-size: 16px;
    }
    div.jobcard{
        width: 360px;
        height: 240px;
        margin: 50px 0;
    }
    div.tag{
        height: 220px;
    }
    
    div.tag h3{
        font-size: 20px;
        color: #222831;
    }
    .slider{
        width: 70vw;
        height: 70vw;
    }
    
    .slides{
        width: 420vw;
        height: 70vw;
        display: flex;
    }
    
    .slide img{
        width: 70vw;
        height: 70vw;
    }
    .slide{
        width: 70vw;
    }
    .navigation-manual{
        width: 70vw;
        padding-top: 65vw;
    }
    #radio2:checked ~ .first{
        margin-left: -70vw;
    }
    #radio3:checked ~ .first{
        margin-left: -140vw;
    }
    #radio4:checked ~ .first{
        margin-left: -210vw;
    }
    #radio5:checked ~ .first{
        margin-left: -280vw;
    }
    #radio6:checked ~ .first{
        margin-left: -350vw;
    }
    .navigation-auto{
        width: 70vw;
        justify-content: center;
        padding-top: 65vw;
    }
}

#instagram-link{
    background-image: url(Resources/Images/footer-icon/ig-white.png);
    background-size: contain;
}
#linkedin-link{
    background-image: url(Resources/Images/footer-icon/linkedin-white.png);
    background-size: contain;
}
#instagram-link:hover{
    background-image: url(Resources/Images/footer-icon/ig-yellow.png);
}
#linkedin-link:hover{
    background-image: url(Resources/Images/footer-icon/linkedin-yellow.png);
}
footer{
    width: 40vw;
    margin: auto;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer div{
    display: inline-block;
    vertical-align: middle;
}
footer ul li a div{
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}
footer ul{
    display: inline-block;
    width: auto;
    right: 0px;
}
footer ul li{
    display: inline-block;
}